
[submodule "automata_v0/automata"]
	path = automata_v0/automata
	url = git@github.com:emrgnt-cmplxty/automata.git
[submodule "automata_v0/leetcode_hard_gym"]
	path = automata_v0/leetcode_hard_gym
	url = git@github.com:emrgnt-cmplxty/leetcode-hard-gym.git
